/* 
** Author: August Frisk
** Course: freeCodeCamp Responsive Design - Summer 2018
** Project: Technical Documentation Page
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background: rgba(211, 210, 210, 0.548);
}

i.menu {
  display: none;
  color: lightgreen;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 22px;
  background: rgba(0, 0, 0, 0.829);
  padding: 8px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

/* Navigation */
#navbar {
  position: fixed;
  border-right: 5px solid green;
  height: 100%;
  width: 300px;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.829);
}

#navbar .btn-close {
  display: none;
  color: lightgreen;
  position: relative;
  top: -42px;
  left: 68px;
}

#navbar #header {
  color: rgba(0, 128, 0, 0.671);
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 1.9rem;
  transition: color 1s ease-in-out;
  letter-spacing: 1px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

#navbar #header:hover {
  color: lightgreen;
}

#navbar #list {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 3px solid green;
}

#navbar #list li {
  border: 3px solid green;
  border-bottom-width: 0px;
  padding: 13px;
  padding-left: 18%;
  list-style: none;
  position: relative;
  width: 150%;
  left: -23%;
  transition: background 0.5s ease-in-out;
}

#navbar #list li:hover {
  background: lightgreen;
}

#navbar #list a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}

#navbar #nav-footer {
  margin: 38px;
  font-size: 1.4rem;
  color: green;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

#navbar #nav-footer span {
  color: #a6ee90;
  text-decoration: none;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

/* Document */
#doc {
  position: relative;
  left: 24%;
  background: white;
  width: 72%;
  margin: 35px 20px;
  padding: 5px 40px 15px 20px;
  color: #757474;
}

#doc .marked {
  color: rgba(0, 128, 0, 0.671);
}

#doc p {
  text-align: justify;
}

#doc h1 {
  color: rgba(0, 128, 0, 0.671);
  font-size: 3.6rem;
  text-transform: uppercase;
}

#doc #content {
  margin-top: -10px;
  margin-left: 25px;
  line-height: 2rem;
}

#doc code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: rgba(0, 0, 0, 0.829);
  color: lightgray;
  border-left: 8px solid rgba(0, 128, 0, 0.671);
  padding-left: 15px;
}

#doc code .brown {
  color: #b8795c;
}

#doc code .green {
  color: rgba(132, 173, 132, 0.685);
}

#doc code .orange {
  color: rgba(141, 118, 14, 0.719);
}

#doc code .red {
  color: rgba(182, 60, 60, 0.705);
}

#doc code .disabled {
  color: grey;
}

#doc #installing li {
  list-style-type: none;
  position: relative;
  left: -40px;
  padding-bottom: 10px;
}

#doc #installing i {
  color: rgba(0, 128, 0, 0.671);
}

#doc #hello_world li {
  position: relative;
  left: 2px;
  padding-bottom: 10px;
}

#doc #reference li {
  list-style: none;
  position: relative;
  left: -60px;
  padding-bottom: 8px;
}

#doc #reference a {
  text-decoration: none;
  color: rgba(0, 128, 0, 0.671);
  transition: color 1s ease-in-out;
}

#doc #reference a:hover {
  color: green;
}

/* Media Queries*/
@media only screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }

  i.menu {
    display: block;
  }

  #navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1;
  }

  #navbar #list li {
    border: none;
  }

  #navbar .btn-close {
    display: block;
    color: lightgreen;
    position: relative;
    top: -42px;
    left: 68px;
  }

  #navbar #header {
    border-bottom: 2px solid green;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.8);
  }

  #navbar #doc {
    position: relative;
    left: 14%;
    width: 80%;
  }

  #navbar a {
    position: relative;
    left: -17%;
  }
}